@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --one-color: #00b289;
  --two-color: #f8db62;
  --background-color: #f3fbff;
  --black-color: #4c4d5f;
  --white-color: #fffffff0;

  --font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 300px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  gap: 75px;
}

#big-square-background {
  height: 130vh;
  width: 130vh;
  background-color: #f2fbff;

  position: absolute;
  top: -500px;
  left: 600px;
  transform: rotate(60deg);

  z-index: -1;
}
/* HEADER */
header {
  grid-area: header;

  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo links buttons";
}

#logo-navbar {
  grid-area: logo;

  display: flex;
  flex-direction: row;
  justify-content: end;
}

.layout-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#links-navbar {
  grid-area: links;
}
#links-navbar > a {
  font-family: var(--font-family);
  color: var(--black-color);
  text-decoration: none;
  font-weight: bold;
}

#buttons-navbar {
  grid-area: buttons;

  display: flex;
  flex-direction: row;
  justify-content: start;
}

#buttons-navbar > button {
  padding: 10px;
  border-radius: 2px;

  font-family: var(--font-family);
  font-weight: bold;
}
#login-button-navbar {
  background-color: transparent;
  border: 2px solid var(--one-color);
  color: var(--one-color);
}

#startfree-button-navbar {
  background-color: var(--one-color);
  border: none;
  color: var(--white-color);
}

/* ----- MAIN  ----- */
main {
  grid-area: main;
  padding-left: 150px;
  padding-right: 150px;

  display: flex;
  flex-direction: column;
  gap: 75px;
}

/* -- Plan Section -- */
#plans-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header-plan"
    "cards-plan";
}

/* -- Toggle -- */
#main-contianer-toogle {
  width: 300px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 0px 1fr;
  grid-template-areas: "toogle";
}

#main-contianer-toogle > span {
  position: relative;
  top: -40px;
  left: 175px;

  font-family: var(--font-family);
  color: var(--one-color);
  font-size: small;
}

#main-contianer-toogle > i {
  position: relative;
  top: 90px;
  left: 145px;

  color: var(--one-color);
  font-size: 45px;

  transform: rotate(90deg);
}

  #container-toggle-header {
  grid-area: toogle;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#container-toggle-header > span {
  font-family: var(--font-family);
}

#tag-month-toggle {
  color: var(--black-color);
}

#tag-year-toggle {
  color: #e8e2e2;
}

input[type="checkbox"] {
  display: none;
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: var(--one-color);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--black-color);
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

input:checked + #tag-month-toggle {
  color: #eb0f0f;
}

label:active:after {
  width: 26px;
}
#header-plans-section {
  grid-area: header-plan;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title-header-plan {
  font-family: "Times New Roman", Times, serif;
  color: var(--black-color);
  font-size: x-large;
}

/* -- Plan Card -- */
#cards-plans-section {
  grid-area: cards-plan;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-plan {
  height: 450px;
  width: 300px;
  background-color: #ffffff;
  padding: 50px;

  border: 1px solid #d8d8e3;
  box-shadow: 2px 2px 20px #f3f3fb, -2px -2px 20px #f3f3fb;

  font-family: var(--font-family);
  color: var(--black-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 75px 20px 1fr 40px;
  grid-template-areas:
    "title-card"
    "price-card"
    "line-card"
    "list-card"
    "button-card";
}

.card-plan > hr {
  grid-area: line-card;
  width: 100%;
  height: 0px;
  margin: auto;
  border: 1px solid var(--one-color);
}
.card-plan > ul {
  grid-area: list-card;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.card-plan > ul > li > i {
  color: var(--one-color);
}
.card-plan > button {
  grid-area: button-card;

  border: none;
  background-color: var(--one-color);
  border-radius: 2px;
  color: var(--white-color);
  font-weight: 700;
}

.title-card-plan {
  grid-area: title-card;
  font-family: var(--font-family);

  font-size: large;
  color: var(--black-color);
}

.price-card-plan {
  grid-area: price-card;
  font-family: var(--font-family);

  font-size: large;
  color: var(--black-color);
}

.price-card-plan > span {
  font-size: xx-large;
}
.price-card-plan > span > sup {
  font-size: x-large;
}

#popular-card-plan {
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 50px 75px 20px 1fr 40px;
  grid-template-areas:
    "banner-card"
    "title-card"
    "price-card"
    "line-card"
    "list-card"
    "button-card";
}
#popular-banner {
  height: 30px;
  width: 200px;
  background-color: var(--one-color);

  font-family: var(--font-family);
  color: var(--white-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -10px;
  left: 200px;
  transform: rotate(45deg);
}

/* -- Add-on card -- */
#addons-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#addons-title-section {
  color: var(--black-color);
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}
#addons-cards-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 15px;
}
.addon-card {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;

  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title price"
    "description price";

  box-shadow: 2px 2px 20px #f3f3fb, -2px -2px 20px #f3f3fb;
}
.addon-card > p {
  margin: 5;
  font-family: var(--font-family);
  color: var(--black-color);
}

.subtitle-addon-card {
  grid-area: title;
  font-size: large;

  display: flex;
  align-items: flex-end;
}
.description-addod-card {
  grid-area: description;
  font-size: small;

  display: flex;
  align-items: flex-start;
}
#free-addon-card {
  grid-area: price;

  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-price-addon-card {
  grid-area: price;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-price-addon-card > p {
  font-family: var(--font-family);
  color: var(--black-color);

  text-align: center;
  margin: 0;
}

.price-addon-card {
  font-size: xx-large;
  font-weight: 500;

  text-align: center;
}
.price-time-addon-card {
  font-size: small;
  font-weight: 300;
}

/* -- Call to action -- */

#cta-section {
  background-color: var(--background-color);
  padding: 50px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#cta-section > p {
  color: var(--black-color);
  font-size: xx-large;
}

#cta-section > p > span {
  color: var(--one-color);
}

#cta-section > button {
  background-color: var(--one-color);
  padding: 15px 30px;

  border: 2px solid var(--one-color);
  border-radius: 2px;

  color: var(--white-color);
  font-family: var(--font-family);
  font-weight: 500;
}

/* -- Question Section -- */
#question-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-question-section {
  color: var(--one-color);
  font-family: var(--font-family);
  font-size: x-large;
  font-weight: 300;
}

#container-questions-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 15px;
}

.question-item {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.question-item > span {
  color: var(--black-color);
  font-family: var(--font-family);
  font-size: large;
  font-weight: 300;
}

.question-item > i {
  color: #d6d6d6;
}

/* ----- FOOTER  ----- */

footer {
  grid-area: footer;

  padding-left: 150px;
  padding-right: 150px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "col-1 col-2  col-3";
}

#footer-col-1 {
  grid-area: col-1;
}
#footer-col-2 {
  grid-area: col-2;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer-col-3 {
  grid-area: col-3;
}

.title-list-footer {
  color: var(--black-color);
  font-family: var(--font-family);
  font-size: medium;
  font-weight: 500;
}

.highlight-title {
  color: var(--one-color);
  font-size: small;
  font-weight: 400;
}

.list-footer {
  list-style-type: none;
  padding: 0;
}

.list-footer > li > a {
  color: #b3a9ab;
  font-family: var(--font-family);
  font-size: small;
  text-decoration: none;
}
.list-footer > li > i {
  color: var(--black-color);
}
